body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f38181;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.input-group {
    margin-bottom: 25px;
    padding-right: 0 15;
}

.input-group label {
    display: flex;
    font-weight: bold;
    margin: auto;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-calcular {
    background-color: #d18741;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
